<section class="container-fluid">
    <section class="row">
        <section class="col-4">
            {{!-- <section class="card">

                <section class="card-img">
                    <img alt="" src=""/>
                </section>

                <section class="card-body">
                    <h3>Hello</h3>
                </section>
            </section> --}}

            <section class="card">
                <img class="card-img-top" src="holder.js/448x300/" alt="">
                <section class="card-body">
                    <h4 class="card-title"><a href="javascript:void(0)">Map of Soul: Persona</a></h4>
                </section>
            </section>
        </section>
    </section>
</section>

<script src="/js/holder.min.js"></script>
<script src="/js/ui.jq.js"></script>
<script src="/js/timer.js"></script>