doctype html
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Band Template
    link(rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon")

    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    //- script(defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js") --font awesome js TODO: include fontawesome js


body
    nav.navbar.navbar-light.navbar-expand-md
        section.container-fluid
            a.navbar-brand FProject
            button.navbar-toggler(data-toggle="collapse" data-target="#navigation")
                span.sr-only Toggle navigation
                span.navbar-toggler-icon
            section.collapse.navbar-collapse(id="navigation")
                ul.nav.navbar-nav
                    li.nav-item(role="presentation")
                        a.nav-link.active(href="#") Home
                    li.nav-item(role="presentation")
                        a.nav-link(href="#") News
                    li.nav-item(role="presentation")
                        a.nav-link(href="#") Gallery
                    li.nav-item(role="presentation")
                        a.nav-link(href="#") Blog
                    li.dropdown
                        a.dropdown-toggle.nav-link.dropdown-toggle(data-toggle="dropdown" aria-expanded="false" href="#") Idols
                        section.dropdown-menu(role="menu")
                            a.dropdown-item(role="presentation", href="#") First Item
                            a.dropdown-item(role="presentation", href="#") Second Item
                            a.dropdown-item(role="presentation", href="#") Third Item
                            a.dropdown-item(role="presentation", href="#") See all
                    ul
                        span.ml-auto.navbar-text
                            button.btn.btn-primary(type="button") Login
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/holder.min.js")
    script(src="/js/put.js")