doctype html
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Band Template
    link(rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon")

    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    //- script(defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js") --font awesome js


body
    script(src="/js/holder.min.js")