doctype html
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Band Template
    link(rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon")

    link(rel="stylesheet", href="/css/bulma.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    //- script(defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js") --font awesome js


body
    section.hero.is-fullheight
        a(href="/") Back to home
        section.hero-body
            section.container.has-text-center
                section.column.is-4.is-offset-4
                    h3.title Login
                    section.box
                        form(action="")
                            section.field
                                section.control
                                    label.has-text-grey Username
                                    input.input.is-large(type="text")
                                    a(href="") don't you have an username?
                            section.field
                                section.control
                                    label.has-text-grey Password
                                    input.input.is-large(type="password")
                                    a(href="javascript:void") Forget password?
                            section.field
                                label.checkbox(for="")
                                    input(type="checkbox", name="")
                                    include ../rememberme.txt
                            section
                                button.button.is-block.is-fullwidth.is-info Login
                                button.button.is-block.is-fullwidth.brands_color-google Login with Google
                                button.button.is-block.is-fullwidth.brands_color-twitter Login with Twitter
    script(src="/js/holder.min.js")