svg.default {
  width: 50px;
  height: 50px;
}
svg.white {
  fill: #fff;
}
section button {
  margin-bottom: 0.5rem;
}
.brands_color-google {
  background-color: #f72b1c;
  color: #fff;
  border: none;
}
.brands_color-google:hover {
  color: #fff;
  background-color: #d81608;
  border: none;
}
.brands_color-twitter {
  background-color: #09f;
  color: #fff;
  border: none;
}
.brands_color-twitter:hover {
  color: #fff;
  background-color: #007acc;
  border: none;
}
